a {
  text-decoration: none;
}

.menu_links {
  color: rgb(130, 172, 251);
  font-size: 16px;
  line-height: 20px;
}

.z1 {
  color: #625858;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

.paragraphs {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.z2 {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}
